{% load static %}
<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />

                <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
                <link rel="icon" sizes="192x192" href="{% static 'favicon_io/android-chrome-192x192.png' %}">
                <link rel="icon" sizes="256x256" href="{% static 'favicon_io/android-chrome-512x512.png' %}">
                <link rel="icon" type="image/x-icon" href="{% static 'favicon_io/favicon.ico' %}">
                <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
                <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
                <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">

                <link rel= 'stylesheet' href="{% static 'styles.css' %}">
                <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
                <link rel = 'stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css'>
                <script src="https://cdn.tailwindcss.com"></script>
                <title>{{ title }}</title>
        </head>
        
        <body class="text-white font-sans bg-cover bg-center" 
        {% if current_hour >= 5 and current_hour < 17 %}
                style="background-image: url('/static/afternoon.webp')"
        {% elif current_hour >= 17 and current_hour < 20 %}
                style="background-image: url('/static/sunset.webp')"
        {% else %}
                style="background-image: url('/static/night.avif')"
        {% endif %}>
                <div class="min-h-screen flex flex-col md:flex-row items-center md:items-start">
                <!-- Left Section with Background Image -->
                        <div class="w-full md:w-2/3 md:min-h-screen relative p-4 pb-[60%] md:pb-4">
                                <div class="absolute top-4 left-4 text-white text-lg font-semibold">
                                        <i class="bi bi-cloud-moon-fill mr-1"></i> Weather Now
                                </div>

                                {% for weather in weather_data %}
                                <div class="absolute top-28 md:top-auto md:bottom-10 left-1/2 md:left-10 transform -translate-x-1/2 md:translate-x-0 space-y-2 hover:text-[#E98F50] text-center md:text-left">
                                        <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold">{{ weather.temperature }}&#176;C</h1>
                                        <h2 class="text-xl sm:text-2xl md:text-3xl font-medium flex items-center justify-center md:justify-start gap-2">
                                                {{ weather.city }}
                                                <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="weather-icon" class="inline-block w-8 h-8"/>
                                        </h2>
                                        <p class="text-sm">
                                                {{ current_datetime|date:"H:i" }} -
                                                {{ current_datetime|date:"D d M Y" }}
                                        </p>
                                        <p class="text-md font-semibold">{{ weather.description }}</p>
                                </div>
                                {% endfor %}
                        </div>

                        <!-- Right Panel -->
                        <div class="w-[95%] md:w-1/3 md:h-screen bg-gray-900 bg-opacity-40 backdrop-blur-sm rounded-xl md:rounded-tl-xl md:rounded-bl-xl md:rounded-tr-none md:rounded-br-none mt-6 md:mt-0 p-4 sm:p-6 text-white tracking-wide leading-relaxed shadow-lg border border-white border-opacity-10 mb-8 md:mb-0">
                                <form method="POST" class="flex flex-row gap-1 mb-6">
                                        {% csrf_token %}
                                        <input type="text" name="name" id="id_name" required placeholder="Search city..." class="flex-grow p-2 rounded bg-gray-800 border-none text-white"/>
                                        <button type="submit" class="bg-green-500 p-2 rounded hover:bg-green-600">
                                            <i class="bx bx-search-alt-2 text-white text-lg"></i>
                                        </button>
                                </form>
                                
                                <h3 class="font-semibold text-lg mb-4">Weather details</h3>
                                {% for weather in weather_data %}
                                <ul class="space-y-6">
                                        <li class="flex justify-between"><span>Cloudy</span><span>{{ weather.cloud }}%</span></li>
                                        <li class="flex justify-between"><span>Humidity</span><span>{{ weather.humidity }}%</span></li>
                                        <li class="flex justify-between"><span>Pressure</span><span>{{ weather.pressure }} hPa</span></li>
                                        <li class="flex justify-between"><span>Longitude</span><span>{{ weather.longitude }}&#176;</span></li>
                                        <li class="flex justify-between"><span>Latitude</span><span>{{ weather.latitude }}&#176;</span></li>
                                        <li class="flex justify-between"><span>Sunrise</span><span>{{ weather.sunrise }}</span></li>
                                        <li class="flex justify-between"><span>Sunset</span><span>{{ weather.sunset }}</span></li>
                                </ul>
                                {% endfor %}
                                
                        </div>
                </div>
        </body>
</html>